# Dependencies
node_modules/

# Environment variables — ASLA commit edilmemeli
.env
.env.local
.env.*.local

# Build output
dist/
build/

# Prisma generated client
/generated/prisma

# TypeScript cache
*.tsbuildinfo

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Video files — git'e commit edilmemeli (26 MB)

# Logs
*.log
npm-debug.log*
